<html>
    <form autocomplete="off" method="post" action="/login">
        <label for="username">Username</label>
        <br>
        <input required type="text" name="username" placeholder="Masukkan Username Anda">
        
        <br>

        <label for="password">Password</label>
        <br>
        <input required type="password" name="password" placeholder="Masukkan password anda">
        <br>

        <button type="submit">Login</button>
    </form>
</html>